{% extends 'base.html' %}
{% load static %}
{% block title %}Play War!{% endblock %}
{% block content %}
<h2>Choose your difficulty</h2>
<button 
    class="btn btn-primary"
    {# need send information about the difficulty here if you are to add a difficulty #}
    hx-post="{% url 'new_war_game' %}"
    hx-target="#gameContainer">
    Play Easy
</button>
<button
    class="btn btn-primary"
    hx-post="{% url 'new_war_game' %}"
    hx-target="#gameContainer">
    Play Medium
</button>
<div id="gameContainer"></div>

{% endblock %}
{% block script %}
{% endblock %}

