.inHand1 {
    grid-row: 1;
}

.toDeck1 {
  animation: scaleAnimation 1s, moveUpAnimation  1s;
  opacity: 0;
}

@keyframes scaleAnimation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes moveDownAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(90%);
  }
}

@keyframes moveUpAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-90%);
  }
}

.toDeck2 {
  animation: scaleAnimation 1s, moveDownAnimation  1s;
  opacity: 0;
}

@keyframes moveRowAnimation {
  from {
    grid-row: 1;
  }
  to {
    grid-row: 2;
  }
}

.inWarBounty {
    grid-row: 2;
}

.toWarBounty {
    grid-row: 2;
    animation: scaleAnimation 1s;
    opacity: 0;
}

.inHand2 {
    grid-row: 3;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
